<div class="wrap-services">
  <% @services.each do |service|%>

      <div class="service-card">
        <%= cl_image_tag service.logo.key, height: 80, width: 80 %>
        <%= service.name %>
      </div>

  <% end %>
</div>
