<div class="wrap-services">
  <%= @services.each do |service|%>
    <%= link_to restaurant_path(restaurant) do %>
      <div class="service-card">
        <%= cl_image_path @service.logo.key, height: 80, width: 80 %>
        <%= @service.name %>
      </div>
    <% end %>
  <% end %>
</div>
