// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  font-size: 3rem !important;
}
h3 {
  font-size: 2rem !important;
}
h4 {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
}

.section-services,
.section-apropos,
.section-contact,
.section-info {
  padding: 96px 20px;
}
.title-section {
  text-align: center;
  margin: 0 auto;
}

//  ***********************  section HOME  *******************************

.section-home {
  background-color: #393939;
  background-size: cover;
  color: #F1E4D3;
  height: 100%;
}
.home {
  height: 90vh;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#benoit {
  animation: fill 0.5s ease forwards 2.5s;
}
#bell {
  margin: 30px 0px 40px 0px;
  animation: shack 600ms linear forwards 0.2s;
  transition: all .5s ease;
}
.home-body {
  margin: 0 auto;
  text-align: center;
  h1 {
    font-size: 24px !important;
    font-style: italic;
    font-family: 'poppins', sans-serif;
    color: white;
  }
}
.home-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#sap {
  height: 70px;
}
#paysdegex {
  height: 40px;
}

//  ***********************  section SERVICES  ***************************

.section-services {
  background-color: $white;
  background-size: cover;
}
#services p {
  color: #9B9B9B;
  margin-bottom: 0 !important;
}
h4#ben {
  color: #E68C0E;
  font-weight: 400 !important;
}
#services h4 {
  line-height: 2rem;
}
.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  justify-content: center;
  max-width: 700px;
}
.service-card-link {
  color: $dark-gray;
  text-decoration: none;
}
.service-card-link:hover {
  color: $dark-gray;
  text-decoration: none;
}
.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 250px;
  padding: 25px 20px;
  margin: 10px;
  border: none;
  border-radius: 15px;
  background-color: $white;
  box-shadow: 6px 6px 40px rgba(0, 0, 0, 0.2);
}
.service-card:hover {

}
.service-name h4 {
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  font-size: 2rem;
}
.service-card p {
  color: $orange !important;
  font-style: italic !important;
}





//  ***********************  section COVID  ******************************

.section-coronavirus {
  text-align: center;
  background-color: #E68C0E;
  background-size: cover;
  color: #FFFFFF;
}
.coronavirus {
  max-width: 700px;
  margin: 0px auto;
  padding: 50px 15px;
}

//  ***********************  section INFO  *******************************

.section-info {
  background-color: #FFFFFF;
}
#info p {
  text-align: justify;
}
.info-wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.info-box {
  position: relative;
  display: grid;
  grid-template-columns: 367px 1fr;
  grid-template-rows: 200px 1fr;
  border: 1px solid $black;
  border-radius: 15px;
  box-shadow: 6px 6px 40px rgba(0,0,0,0.2);
  padding: 2rem 3rem;
  margin-bottom: 75px;
}
.info-box-title {
  position: absolute;
  left: -1rem;
  top: -1rem;
  width: 367px;
  height: 225px;
}
.title-wrapper {
  position: absolute;
  bottom: 50%;
  left: -3rem;
  width: 429px;
  height: 80px;
  background-color: $orange;
  display: flex;
  align-items: center;
  padding-left: 70px;
  transform: rotate(-30deg);
  clip-path: polygon(10.6% 0%, 0% 100%, 100% 100%, 68% 0%);
  -webkit-clip-path: polygon(10.6% 0%, 0% 100%, 100% 100%, 68% 0%);
}
.corner {
  position: absolute;
  left: 0.1rem;
  bottom: 4%;
  width: 0.9rem;
  height: 1rem;
  background-color: #865209;
  border-bottom-left-radius: 2px;
}
.cornerbis {
  position: absolute;
  top: 0;
  left: calc(100% - 2rem);
  width: 2.3rem;
  height: 1rem;
  background-color: #865209;
  border-top-right-radius: 2px;
}

.title-wrapper h3 {
  margin-bottom: 0px;
  text-shadow: 1px -1px 0px $white;
}
.info-box-img {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
}
.info-text {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}
a.faq-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: $orange;
}
a.faq-link:hover {
  text-decoration: none;
  font-weight: bold;
  color: $orange;
}


#declaration {
  font-size: 12px;
  font-style: italic;
  margin-top: 50px;
  text-align: center;
}

//  ***********************  section A PROPOS  ***************************

.section-apropos {
  background-color: $light-gray;
  background-size: cover;
}
.apropos {
  background-color: $light-gray;
  max-width: 700px;
  margin: 0 auto;
  padding: 50px 15px;
  text-align: center;
  border-radius: 15px;
  box-shadow:
    -5px -5px 9px rgba(155,155,155,0.2),
    5px 5px 9px rgba(0,0,0,0.2),
    inset -13px -13px 20px rgba(0,0,0,0.1),
    inset 13px 13px 20px rgba(255,255,255,1);
}
.apropos img {
  width: 400px;
}
.profile {
  max-width: 500px;
  margin: auto;
}
.profile p {
  text-align: center;
}

//  ***********************  section CONTACT  ****************************

.section-contact {
  background-image: url('https://res.cloudinary.com/bessiere/image/upload/v1595606967/Background/map-image.png');
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact {
  background-color: #393939;
}
#contact img {
  height: 100vh;
}
#contact h2 {
  color: #FFFFFF;
}
.form-wrapper {
  width: 60%;
  text-align: center;
  padding: 30px 15px;
  border-radius: 5px;
}
.contact-infos {
  color: #FFFFFF;
  margin-bottom: 30px;
  font-size: 16px;
}
.contact-infos a {
  color: #FFFFFF;
}
.fa-envelope,
.fa-phone {
  color: #E68C0E;
  font-size: 21px;
  margin-right: 5px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input, textarea {
  background-color: $light-gray;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 8px;
  color: #393939;
  outline-color: #E68C0E !important;
}
input {
  height: 50px;
}
textarea {
  height: 96px;
}
.btn-contact {
  color: #FFFFFF !important;
  padding: 10px 25px !important;
  margin: 25px 0px !important;
  background-color: #E68C0E !important;
  border: 3px solid #E68C0E !important;
  border-radius: 5px !important;
  width: 150px !important;
  font-weight: bold;
}
.btn-contact:hover {
  border: 3px solid #E68C0E !important;
  background-color: transparent !important;
  color: #E68C0E !important;
}


/*******************************
         MEDIA LAPTOP
*******************************/

@media screen and (max-width: 992px){
  .navbar-brand {
    padding-left: 15px;
  }
  .navbar-nav {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #F1E4D3;
  }
  .navbar-toggler {
    margin-right: 30px;
  }
  a.nav-link {
    color: $dark-gray;
    width: 100%;
    margin-right: 0px;
    display: flex;
    justify-content: center;
  }
  a.nav-link:hover {
    background-color: $orange;
    border-bottom: none;
    color: $dark-gray;
  }
}

@media screen and (min-width: 768px){
  .section-home {
    height: 90vh;
  }
}
/*******************************
         MEDIA PHONES
*******************************/
@media screen and (max-width: 576px){
  .home-body {
    width: 100%;
  }
  .home-footer {
    justify-content: space-between;
    padding: 20px 50px;
  }
  .info-box {
    padding: 2rem 1rem;
  }
  .apropos img {
    width: 300px;
  }
  .form-wrapper {
    width: 100%;
  }
  .service-img img {
    display: none;
  }
}

