// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  font-size: 40px !important;
  font-weight: 800 !important;
}
h3 {
  font-size: 32px !important;
  font-weight: 700 !important;
}
h4 {
  font-size: 24px !important;
  font-weight: 800 !important;
}
p {
  font-size: 18px !important;
}
.section-services,
.section-apropos,
.section-contact,
.section-info {
  padding: 96px 20px;
}
.title-section {
  text-align: center;
  margin: 0 auto;
}

//  ***********************  section HOME  *******************************

.section-home {
  background-color: #393939;
  background-size: cover;
  color: #F1E4D3;
  height: 100%;
}
.home {
  height: 90vh;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#benoit {
  animation: fill 0.5s ease forwards 2.5s;
}
#bell {
  margin: 30px 0px 40px 0px;
  animation: shack 600ms linear forwards 0.2s;
  transition: all .5s ease;
}
.home-body {
  margin: 0 auto;
  text-align: center;
  p {
    font-size: 24px !important;
    font-style: italic;
    color: white;
  }
}
.home-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#sap {
  height: 70px;
}
#paysdegex {
  height: 40px;
}

//  ***********************  section SERVICES  ***************************

.section-services {
  background-color: #F9F7F7;
  background-size: cover;
}
#services p {
  color: #9B9B9B;
  margin-bottom: 0 !important;
}
h4#ben {
  color: #E68C0E;
  font-weight: 400 !important;
}
#services h4 {
  line-height: 2rem;
}
.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  justify-content: center;
  max-width: 900px;
}
.service-card-link {
  color: $dark-gray;
  text-decoration: none;
}
.service-card-link:hover {
  color: $dark-gray;
  text-decoration: none;
}
.service-card {
  display: flex;
  align-items: center;
  width: 375px;
  height: 120px;
  padding: 10px 20px;
  margin: 10px;
  border: solid 1px $light-gray;
  border-radius: 5px;
  background-color: white;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
.service-card:hover {
  box-shadow: none;
}
.service-icone img {
  margin-right: 20px;
}

//  ***********************  section COVID  ******************************

.section-coronavirus {
  text-align: center;
  background-color: #E68C0E;
  background-size: cover;
  color: #FFFFFF;
}
.coronavirus {
  max-width: 700px;
  margin: 0px auto;
  padding: 50px 15px;
}

//  ***********************  section INFO  *******************************

.section-info {
  background-color: #FFFFFF;
}
.logos-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#info p {
  text-align: justify;
}
.info-wrapper {
  max-width: 700px;
  margin: 0 auto;
}
.box-2 {
  text-align: center;
}
.info-icones {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#icone-sap {
  width: 150px;
}
#icone-reduction {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
.separateur {
  text-align: center;
  margin-bottom: 30px;
}
.separateur img {
  width: 375px;
  margin: 30px 0;
}
#declaration {
  font-size: 15px;
  font-style: italic;
  margin-top: 50px;
  text-align: center;
}

//  ***********************  section A PROPOS  ***************************

.section-apropos {
  background-color: $cream;
  background-size: cover;
}
.apropos {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px 15px;
  text-align: center;
}
.apropos img {
  width: 400px;
}
.profile p {
  text-align: center;
}

//  ***********************  section CONTACT  ****************************

.section-contact {
  background-image: url('https://res.cloudinary.com/bessiere/image/upload/v1595606967/Background/map-image.png');
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact {
  background-color: #393939;
}
#contact img {
  height: 100vh;
}
#contact h2 {
  color: #FFFFFF;
}
.form-wrapper {
  width: 60%;
  text-align: center;
  padding: 30px 15px;
  border-radius: 5px;
}
.contact-infos {
  color: #FFFFFF;
  margin-bottom: 30px;
  font-size: 16px;
}
.contact-infos a {
  color: #FFFFFF;
}
.fa-envelope,
.fa-phone {
  color: #E68C0E;
  font-size: 21px;
  margin-right: 5px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input, textarea {
  background-color: $light-gray;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 8px;
  color: #393939;
  outline-color: #E68C0E !important;
}
input {
  height: 50px;
}
textarea {
  height: 96px;
}
.btn-contact {
  color: #FFFFFF !important;
  padding: 10px 25px !important;
  margin: 25px 0px !important;
  background-color: #E68C0E !important;
  border: 3px solid #E68C0E !important;
  border-radius: 5px !important;
  width: 150px !important;
  font-weight: bold;
}
.btn-contact:hover {
  border: 3px solid #E68C0E !important;
  background-color: transparent !important;
  color: #E68C0E !important;
}


/*******************************
         MEDIA LAPTOP
*******************************/

@media screen and (max-width: 992px){
  .navbar-brand {
    padding-left: 15px;
  }
  .navbar-nav {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #F1E4D3;
  }
  .navbar-toggler {
    margin-right: 30px;
  }
  a.nav-link {
    color: $dark-gray;
    width: 100%;
    margin-right: 0px;
    display: flex;
    justify-content: center;
  }
  a.nav-link:hover {
    background-color: $orange;
    border-bottom: none;
    color: $dark-gray;
  }
}

@media screen and (min-width: 768px){
  .section-home {
    height: 90vh;
  }
}
/*******************************
         MEDIA PHONES
*******************************/
@media screen and (max-width: 576px){
  .home-body {
    width: 100%;
  }
  .home-footer {
    justify-content: space-between;
    padding: 20px 50px;
  }
  .separateur img {
    width: 250px;
  }
  .apropos img {
    width: 300px;
  }
  .form-wrapper {
    width: 100%;
  }
  .service-img img {
    display: none;
  }
}

// Specific CSS for your home-page
