.container-service {
  background-color: #FFFFFF;
  padding: 30px 0;
  min-height: 100vh;
}
.service-info {
  margin: 0 auto;
  padding: 40px 40px;
  max-width: 800px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 6px 6px 40px rgba(0, 0, 0, 0.2);
}
.service-header {
  display: flex;
  align-items: center;
}
.service-id {
  font-size: 36px !important;
  font-weight: 800 !important;
  padding: 0 30px !important;
  text-align: center;
}
.service-details {
  margin: 30px 0 ;
  padding: 30px 0 14px 0;
  border-top: solid 3px #E68C0E;
  border-bottom: solid 3px #E68C0E;
  color: #9B9B9B;
  font-style: italic;
  font-weight: bold;
  text-align: justify;
}
.service-examples ul {
  margin-left: 30px;
}
.service-examples ul li {
  font-size: 16px;
}
.service-examples {
  padding-bottom: 40px;
}
.option {
  text-align: center;
  color: #E68C0E;
  font-style: italic;
}
.btn-return {
  padding: 10px 20px;
  border: solid 2px #E68C0E;
  border-radius: 5px;
  color: #E68C0E;
  font-weight: bold;
  text-decoration: none;
}
.btn-return:hover {
  background-color: #E68C0E;
  color: white;
  text-decoration: none;
}
