<div class="container container-legales">
  <div class="legales-section">
    <div class="legales-title text-center">
      <h1>LE SERVICE AVANCE IMMÉDIATE</h1>
      <p>FOIRE AUX QUESTIONS</p>
    </div>
    <br>
    <div class="avance-question text-justify">
      <h3>Qui gère ce service ?</h3>
      <p>
        Le service Avance immédiate est proposé par l’Urssaf et la Direction générale des Finances publiques.
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>Qu’est-ce que l’avance immédiate de crédit d’impôt ?</h3>
      <p>
        Le service Avance immédiate vous permet de déduire le montant de votre crédit d’impôt du montant dû à votre prestataire.
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>Quelles sont les conditions pour bénéficier du service ?</h3>
      <p>
        Pour bénéficier de ce service :
        <ul>
          <li>
            votre prestataire de service à la personne doit lui-même en avoir fait la demande auprès de l’Urssaf. Si votre prestataire de services à la personne propose ce service, il lui appartient de vous en informer;
          </li>
          <li>
            vous devez disposer d’un compte bancaire domicilié en France;
          </li>
          <li>
            un numéro fiscal doit être associé à votre état civil;
          </li>
          <li>
            vous devez avoir déjà effectué au moins une déclaration de revenus.
          </li>
        </ul>
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>Quel sera l’impact sur la facturation ?</h3>
      <p>
        L’inscription au service vous donne accès à un compte sur la plateforme particulier.urssaf.fr via laquelle votre prestataire vous transmettra des demandes de paiement pour les prestations réalisées. Vous recevrez alors une notification de l’Urssaf.
      </p>
      <p>
        Vous disposerez de 48 heures pour valider ou contester cette demande. Une fois validée, l’Urssaf prélève le montant correspondant sur votre compte bancaire dans les 2 jours ouvrés suivant la validation et verse le montant de la prestation à votre prestataire de services à la personne dans un délai de 4 jours ouvrés après validation de la demande de paiement.
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>Qu’est-ce qu’une demande de paiement ?</h3>
      <p>
        Une demande de paiement indique à votre client le montant total des prestations réalisées ainsi que le montant de son reste à payer, après déduction du crédit d’impôt. <br>
        Reste à payer = montant de la prestation facturée – crédit d’impôt
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>Dans le cas du versement d’un acompte, celui-ci est-il pris en compte dans la demande de paiement ?</h3>
      <p>
        Le montant de la demande de paiement émise par votre prestataire de services à la personne prend en compte le paiement d’un éventuel acompte. Celui-ci est donc déduit du montant qui vous sera prélevé et de celui qui sera versé à votre prestataire.
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>Comment accéder à mes demandes de paiement ?</h3>
      <p>
        Vous pouvez retrouver vos demandes de paiement en vous connectant sur votre compte à partir particulier.urssaf.fr, à la rubrique « Paiement » > « Tous mes paiements ».
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>Qui est mon interlocuteur en cas de question ou difficulté ?</h3>
      <p>
        Pour toute question, merci de vous rapprocher de votre prestataire de services à la personne.
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>Quel sera l’impact sur ma déclaration de revenus ?</h3>
      <p>
        Le montant de l’Avance immédiate que vous avez perçu sera automatiquement pré rempli dans votre déclaration de revenus. Il vous appartient de vérifier ce montant et de le corriger si nécessaire. <br>
        Des informations complémentaires vous seront communiquées à l’ouverture de la période fiscale 2022.
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>Comment suivre la consommation de mon crédit d’impôt ?</h3>
      <p>
        Vous retrouverez le récapitulatif de votre consommation de crédit d’impôt sur la page d’accueil de votre compte, sur particulier.urssaf.fr. Y sont détaillées les informations suivantes :
        <ul>
          <li>
            le plafond annuel d’avance immédiate de crédit d’impôt;
          </li>
          <li>
            le montant consommé sur l’année;
          </li>
          <li>
            le montant encore disponible.
          </li>
        </ul>
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>Vais-je toujours recevoir une attestation fiscale ?</h3>
      <p>
        Votre prestataire de services à la personne, comme chaque année, devra vous remettre une attestation fiscale.
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>Quel est le plafond de crédit d’impôt pour le recours à des services à la personne ?</h3>
      <p>
        Le montant du plafond d'avance immédiate de crédit d'impôt est fixé par le décret n° 2021- 1935 du 30 décembre 2021 et s’élève à 6 000 € sur l'année (donc 12 000 € de dépenses). Celui-ci est porté à 10 000 € (donc 20 000 € de dépenses) pour les particuliers en situation de handicap.
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>Comment cela fonctionne-t-il si je bénéficie également du service en tant que particulier employeur ?</h3>
      <p>
        Si vous bénéficiez du service Avance immédiate en tant que particulier employeur et en tant que client d’un prestataire, vous suivez et gérez vos dépenses sur deux espaces distincts: à partir de la rubrique « Mes aides » de votre tableau de bord Cesu pour les dépenses engagées en tant que particulier employeur et à partir de la plateforme particulier.urssaf.fr pour les dépenses engagées en tant que client d’un prestataire de services à la personne. <br>
        A noter : si en plus de votre statut de particulier employeur, vous avez recours à une structure de services à la personne, le plafond de votre crédit d’impôt est applicable au cumul des dépenses engagées auprès du Cesu et de vos prestataires de services à la personne
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>L’Avance immédiate remplace-t-elle l’acompte de crédit d’impôt versé par l’administration fiscale ?</h3>
      <p>
        Les dépenses effectuées à partir de janvier 2022 concerneront la déclaration de revenus 2022, qui sera faite en 2023. <br>
        La « traditionnelle avance RICI », qui sera envoyée le 15 janvier 2022, concerne les revenus de 2021 et coexistera donc cette année pour les usagers recourant à l’Avance immédiate (puisque cela concerne 2022). <br>
        A partir de 2023, un échange de données interviendra chaque année entre la DGFiP est l'Urssaf pour prendre en compte de manière automatique le bénéficie de l’Avance immédiate versée en 2022 dans le montant de l’acompte versé en janvier 2023. Le contribuable n’aura rien à faire. <br>
        L'avance RICI n’est pas modifiée pour tous les autres crédits et réductions d'impôts non concernés par l’Avance immédiate
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>Quel est mon identifiant de connexion ?</h3>
      <p>
        L’identifiant vous permettant de vous connecter à votre compte correspond à l’adresse mail à laquelle le mail d’activation de votre compte vous a été envoyé.
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>J’ai perdu mon mot de passe, comment faire ?</h3>
      <p>
        Si vous avez perdu votre mot de passe, rendez-vous sur particulier.urssaf.fr. Cliquez sur « Me connecter » puis « Mot de passe oublié » et laissez-vous guider.
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>Comment modifier mes informations personnelles ?</h3>
      <p>
        Vous pouvez modifier à tout moment vos informations personnelles à partir de votre compte, en cliquant sur votre nom.
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>Comment modifier mes coordonnées bancaires ?</h3>
      <p>
        Vous pouvez modifier à tout moment vos coordonnées bancaires à partir de votre compte, en cliquant sur votre nom. <br>
        Attention: le compte bancaire saisi doit être domicilié en France.
      </p>
    </div>
    <div class="avance-question text-justify">
      <h3>Comment modifier mon mot de passe ?</h3>
      <p>
        Vous pouvez modifier à tout moment votre mot de passe à partir de votre compte, en cliquant sur votre nom.
      </p>
    </div>
    <div class="legales-link-return text-center">
      <%= link_to 'RETOUR', root_path, class:'btn-return' %>
    </div>
  </div>
</div>


