<div class="container-errors">
  <div class="wrapper-error">
    <div class="error-title">
      <h1>404</h1>
    </div>
    <div class="error-text">
      <h2>PAGE NOT FOUND</h2>
    </div>
    <div class="error-link">
      <%= link_to 'HOME', root_path, class:'btn-error' %>
    </div>
  </div>
</div>
