<div class="container-errors">
  <div class="wrapper-error">
    <div class="error-title">
      <h1>422</h1>
    </div>
    <div class="error-text">
      <h2>UNACCEPTABLE</h2>
    </div>
    <div class="error-link">
      <%= link_to 'HOME', root_path, class:'btn-error' %>
    </div>
  </div>
</div>
