.container-errors {
  background-color: #393939;
}
.wrapper-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  max-width: 400px;
  margin: auto;
}
.error-title h1 {
  font-family: 'Rammetto One', cursive;
  font-size: 144px;
  margin-bottom: 0px;
  line-height: 0.9;
  color: rgba(231, 141, 13, 1);
    -webkit-text-fill-color: #393939;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(231, 141, 13, 1);
}
.error-text h2 {
  font-family: 'Vast Shadow', cursive;
  font-size: 32px;
  color: white;
  margin-bottom: 100px;
}
.btn-error {
  text-decoration: none;
  color: rgba(231, 141, 13, 1);
  border: 1px solid rgba(231, 141, 13, 1);
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: bold;
}
.btn-error:hover {
  text-decoration: none;
  color: white;
  background-color: rgba(231, 141, 13, 1);
  font-weight: bold;
}

