.footer {
  background-color: #393939;
  width: 100%;
  min-height: 10vh;
}
.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}
.legales-links {
  color: $light-gray;
}
.legales-links a {
  color: $light-gray;
}
.footer-footer {
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding-bottom: 15px;
  color: #999999;
}
.fab {
  color: $orange;
  margin-right: 25px;
}

